<header style="background-color: #1b6392">
	<div class="container-xxl d-flex justify-content-between py-3">
		<div class="d-flex gap-2">
			<img width="48px" height="48px" alt="TMIR Icon" src="/public/assets/icon.svg" />
			<div class="logo-name">TIMR</div>
		</div>
		<div class="dropdown bg-transparent">
			<button
				id="user-dropdown-toggle"
				class="rounded p-2 dropdown-toggle bg-transparent border-0"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				<i class="fa-regular fa-user fa-xl mt-1" style="color: #ffffff"></i>
			</button>
			<ul class="dropdown-menu">
				<li><button id="signout" class="dropdown-item">Sign out</button></li>
			</ul>
		</div>
	</div>
</header>
<script>
	const signout = document.getElementById('signout');
	signout.addEventListener('click', async () => {
		try {
			const response = await fetch('/api/staff/auth/logout', { method: 'POST' });
			if (response.status === 200) {
				window.location.href = '/admin/signin';
			}
		} catch (error) {
			console.error(error);
		}
	});
</script>
