<footer class="vw-100">
	<div class="container-xxl d-flex justify-content-between py-4">
		<div>
			<div class="d-flex gap-2 align-items-center mb-3">
				<img alt="" src="/public/assets/icon1.svg" />
				<h1 class="text-light fw-bold">TIMR</h1>
			</div>
			<address class="d-flex flex-column">
				<p class="fs-6 text-secondary mb-1">Customer Supports:</p>
				<a href="tel:+84987654321" class="fs-5 text-light text-decoration-none mb-3">
					+84 987-654-321
				</a>
				<a
					class="fs-6 text-secondary text-decoration-none mb-2"
					href="https://maps.app.goo.gl/jG446LG1sDzqTMvR7"
					target="_blank"
				>
					702 Đ. Nguyễn Văn Linh, Q.7, TP.HCM
				</a>
				<a href="mailto:library@timr.com" class="fs-6 text-light text-decoration-none mb-3">
					library@timr.com
				</a>
			</address>
		</div>

		<div class="d-flex gap-5">
			<div>
				<h5 class="text-light">Top Subjects</h5>
				<div>
					<div class="mb-2">
						<div class="text-decoration-none text-secondary">Economics</div>
					</div>
					<div class="mb-2">
						<div class="text-decoration-none text-secondary">Chemistry</div>
					</div>
					<div class="mb-2">
						<div class="text-decoration-none text-secondary">Computer Science</div>
					</div>
					<div class="mb-2">
						<div class="text-decoration-none text-secondary">History</div>
					</div>
					<div class="mb-2">
						<div class="text-decoration-none text-secondary">Political Science</div>
					</div>
				</div>
			</div>
			<div>
				<h5 class="text-light">Quick links</h5>
				<div>
					<div class="mb-2">
						<a href="/books" class="text-decoration-none text-secondary">Advanced Search</a>
					</div>
					<div class="mb-2">
						<a href="/favourites" class="text-decoration-none text-secondary">Wishlist/Favorited</a>
					</div>
					<div class="mb-2">
						<a href="#" class="text-decoration-none text-secondary">Customer Help</a>
					</div>
					<div class="mb-2">
						<a href="#" class="text-decoration-none text-secondary">About Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr />

	<p class="text-center py-4 text-secondary">
		Kinbo - eCommerce Template © 2021. Design by Templatecookie
	</p>
</footer>
